<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Wishlist - Edit Form</title>
  <link href="/static/styles.css" rel="stylesheet"/>
</head>
<body>
    <main>
        

        
    <form class="editItemForm" action="/edit/{{item[0]}}" method="POST">
        <input type="text" name="itemName" value="{{item[1]}}">
        
        <input type="text" name="source" value="{{item[2]}}">
        
        <input type="text" name="category" value="{{item[3]}}">
        <button type="submit">Save Edit</button>
    </form>

    <form action="/wishlist">
        <button type="submit">Go Back</button>
    </form>
    </main>
</body>