<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Wishlist</title>
  <link href="/static/styles.css" rel="stylesheet"/>
</head>
<body>
    <main>
    <div class="hero">
    <h1>Wishlist</h1>
    </div>
    <section class="addItemForm">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <h4>{{message}}</h4>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    <form action="/add" method="POST">
        <input type="text" name="itemName" placeholder="What do you want?" required>
        <input type="text" name="source" placeholder="Where do you get it?" required>
        <input type="text" name="category" placeholder="Holiday/Clothes/Games" required>
        <button type="submit"><i class='bx bx-plus' ></i></button>
    </form>
    </section>
    <section>
    <ul>
        {% for item in items %}
        <li>
            <div class="listItem">

            <h3>{{ item[1] }}</h3> 
            <h4>{{item[2]}}</h4>
            <h4>{{item[3]}} </h4>
            <div class="actions">

            {% if not item[4] %}
            <form action="/obtained" method="POST" >
                <input type="hidden" name="item_id" value="{{item[0]}}">
                <button type="submit"><i class='bx bx-check'></i></button>
            </form>
            {% else %}
            item obtained
            {% endif %}
            
            <form action="/delete/{{item[0]}}" method="GET" >
                <input type="hidden" name="item_id" value="{{item[0]}}">
                <button type="submit"><i class='bx bx-x'></i></button>
            </form>
            <form action="/edit/{{item[0]}}" method="GET" >
                <input type="hidden" name="item_id" value="{{item[0]}}">
                <button type="submit"><i class='bx bx-edit-alt' ></i></button>
            </form>
            </div>
            </div>


        </li>
        {% endfor %}
    </ul>
    </section>
    </main>
</body>