<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wishlist</title>
</head>
<body>
    <h1>Wishlist</h1>
    <h2>Things you may not need, but certainly want:</h2>

    <form action="/add" method="POST">
        <input name="itemName" placeholder="What do you want?" required>
        <input name="source" placeholder="Where do you get it?" required>
        <input name="category" placeholder="Holiday/Clothes/Games" required>
        <input type="submit" value="add">
    </form>

    <ul>
        {% for item in items %}
        <li>
            {{ item.itemName }} -- {{item.source}} -- {{item.category}} --
            {% if not item.obtained %}
            <form action="/obtained" method="POST" style="display: inline;">
                <input type="hidden" name="item_id" value="{{item.id}}">
                <button type="submit">Obtained</button>
            </form>
            {% else %}
            item obtained
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>